{{- if .Values.prometheusAlerts.alerts }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    chart: {{ template "elasticsearch-exporter.chart" . }}
    app: {{ template "elasticsearch-exporter.name" . }}
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    {{- if .Values.serviceMonitor.labels }}
    {{- toYaml .Values.serviceMonitor.labels | nindent 4 }}
    {{- end }}
  name: kube-prometheus-{{ .Release.Name }}-alerts
spec:
  groups:
  - name: {{ .Release.Name }}.alerts
    rules:
{{ toYaml .Values.prometheusAlerts.alerts | indent 4 }}
{{ end }}
